body{
    height: 97vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background{
    background-image: url('../barco.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
